<!DOCTYPE html>
<html lang="zh-CN">
<%- partial('_partial/head') %>
<body>
    <img src="<%- theme.avatar %>" style="position:fixed; top:0; left:0;  width: 80%; z-index:-1;opacity: 0;">
    <%- partial('_partial/loading') %>
    <%- partial('_partial/menu') %>
    <main id="main">
        <%- body %>
        <%- partial('_partial/footer') %>
    </main>
    <%- partial('_partial/after-footer') %>
    <%- partial('_partial/script') %>
</body>
</html>
